<a href="https://colab.research.google.com/github/chetana-H/Applications-of-python-programming-in-DA-and-ML/blob/master/Day_2_session_1_exercise_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.print multiples of 3 upto 200 using a list

In [1]:
a=[]
for i in range(0,200):
  if(i%3==0):
    a.append(i)
print(a)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

2.print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [2]:
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%5==0):
        nl.append(x)
print (nl)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

3.Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [3]:
l = []
b=[]
n =int(input("Enter the size"))
for i in range(n):
  a = str(input())
  l.append(a)
b = sorted(l)
print(sorted(l))
print(b[::-1])

Enter the size5
6
7
8
9
10
['10', '6', '7', '8', '9']
['9', '8', '7', '6', '10']

4..Print perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [4]:
a=[]
def divsqr(l, r): 
    for i in range(l, r + 1):  
        if (i**(.5) == int(i**(.5)) and (i%5)==0): 
          a.append(i)
    print(a) 
  

l = 500
r = 1000
  
divsqr(l, r)

[625, 900]

## **tuples** **exercise**

1.Get a string and store word by word as elements in a tuple and find the largest word in the tuple and print it

In [5]:
a=[]
n= int(input("Enter the number of elements in list:"))
for x in range(0,n):
    element=input("Enter element" + str(x+1) + ":")
    a.append(element)
max1=len(a[0])
temp=a[0]
for i in a:
    if(len(i)>max1):
       max1=len(i)
       temp=i
print("The word with the longest length is:")
print(temp)

Enter the number of elements in list:4
Enter element1:chetu
Enter element2:chandu
Enter element3:vidu
Enter element4:viru
The word with the longest length is:
chandu

2.Get a string and store word by word as elements in a tuple and find the largest word in the tuple and print it

In [6]:
l = []
l1 = []
n =int(input("Enter the number of students"))
for i in range(n):
  l.append(int(input('Enter roll number')))
  l1.append(int(input('Enter marks')))
a =(l,l1[::-1])
print(a)

Enter the number of students4
Enter roll number28
Enter marks29
Enter roll number21
Enter marks30
Enter roll number22
Enter marks18
Enter roll number23
Enter marks12
([28, 21, 22, 23], [12, 18, 30, 29])

3..Get name and salary (name, salary) as list of tuples for n number of employees through keyboard and print them in name alphabetical order with salary

In [7]:
l = []
l1 = []
n =int(input("Enter the number of emp"))
for i in range(n):
  l.append(str(input('Enter name')))
  l1.append(int(input('Enter salary')))
  a =(sorted(l),l1)
print(a)

Enter the number of emp3
Enter namechetu
Enter salary100000
Enter namechandu
Enter salary20000
Enter nameviru
Enter salary200000
(['chandu', 'chetu', 'viru'], [100000, 20000, 200000])